<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API Secret</key>
	<string>dozRI93e1IRIlJVfsUso08Fbg9ChYQbgxG2yMzhNTFdANRndkQ</string>
	<key>API Key</key>
	<string>03wPGccPY0qFmEygl55Ce4IJK</string>
</dict>
</plist>
